@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: url(/bg.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;

}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) /2);
}
.logo
{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 2rem;
}
nav a
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.3rem;
    padding: 0 1rem;
    cursor: pointer;
    
}
nav a:hover
{
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
} 
.hero-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) /2);
}

.column-left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 0rem 2rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}
.column-left h1
{
    margin-bottom: 1rem;
    font-size: 3rem;
}
.column-left p
{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.2;
}
button
{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: black;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 50px;
}
button:hover
{
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.column-right
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}
.hero-image
{
    width: 100%;
}
footer
{
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}